@model IEnumerable<XmlTest.Models.Book>
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<a class="btn btn-success" asp-action="Create">Add Book</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Book Title</th>
            <!--<th>Authors Title</th>-->
            <th>Authors First Name</th>
            <th>Authors Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Id)</td>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <!--<td>Html.DisplayFor(m => item.AuthorTitle)</td>-->
                <td>@Html.DisplayFor(m => item.FirstName)</td>
                <td>@Html.DisplayFor(m => item.LastName)</td>
            </tr>
        }
    </tbody>
</table>